.content {
  height: 27.2rem;
  background-color: rgb(255, 255, 255);
}

.gallery-container {
  align-items: center;
}

.gallery-container ul {
  display: flex;
  list-style: none;
  height: 26rem;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
}

.gallery-container li {
  flex: 0 0 200px;
  margin: 0 1rem 0 1rem;
}

.gallery-container li:last-of-type {
  margin: 0;
}

.carousel-img {
  width: 25rem;
  border: 0;
  border-style: none;
  /* overflow-x: scroll;
  overflow-y: scroll; */
}

@media screen and (max-width: 600px) {
  .content {
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

  .gallery-container {
    justify-content: center;
  }

  .gallery-container ul {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 1rem;
    height: auto;
  }

  .gallery-container li {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .gallery-container li:first-child {
    margin-top: 8rem;
  }

  .carousel-img {
    width: 20rem;
    margin: 0;
  }
}
